h1{
    margin-top: 10px;
    text-align: center;
}
div{
    text-align: center;
}
.ferms{
    text-align: center;
}
ul{
    text-align: center;
}
body{
    background-color: PeachPuff;

}
html{
    border-style: solid;
    border-width: 10px;
    border-color: Navy;

}
.spacer{
    height: 750px
}
p{
    text-align: center;
    font-weight: bold;
}
