{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>QUESTION 1</h1>
    <p>
        HOW TO MAKE MONEY???
        </p>
    <div>
    <form action={{ url_for("renderPage1") }} method='POST'>
        <input type="radio" id="mob" name="q1" value="MOB">
        <label for="mob">Get picked up by the mob</label><br>
        <input type="radio" id="spoiled" name="q1" value="SPOILED">
        <label for="spoiled">Be born into a rich family</label><br>
        <input type="radio" id="grind" name="q1" value="GRIND">
        <label for="grind">Sweat every minute of every day tryna get that chedda</label>
        <br>
         <input type="submit" value="Submit">
    </form>
    </div>
    <div class = 'spacer'>
    </div>
{% endblock %}
