{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>QUESTION 2</h1>
    <p>
        Whats the best way to use this newfound wealth?
    </p>
    <div>
    <form action={{ url_for("renderPage2") }} method='POST' >
        <input type="radio" id="sh" name="q2" value="Sadhouse">
        <label for="sh">Buy a 40 million dollar mansion to never live in</label><br>
        <input type="radio" id="sg" name="q2" value="Sadgarage">
        <label for="sg">Buy a very stupid looking supercar just to feel good inside for 10 minutes</label><br>
        <input type="radio" id="FM" name="q2" value="FreeMoney">
        <label for="FM">Invest in the stock market(WHICH DEFINITLY WON'T CRASH)</label>
        <br>
         <input type="submit" value="Submit">
    </form>
    </div>
    <div class = 'spacer'>
    </div>
{% endblock %}
